<%- include('partials/header') %>

<h1><%= text %></h1>

<h2>updated Balance</h2>
<br>
<br>
<table class="center" style="width: 50%">
    <tr>
    <th>
        Name
    </th>
    <th>
        Updated Balance
    </th>
</tr>
<tr>
    <td>
        <%= z1 %>
    </td>
    <td>
        <%= x1 %>
    </td>
</tr>
<tr>
    <td>
        <%= z2 %>
    </td>
    <td>
        <%= x2 %>
    </td>
</tr>
</table>

<%- include('partials/footer') %>